h1.primary-title{
	font-size: 63px;
	margin: 45px 0;
}
.contacto, .portafolio, .trayectoria{
	margin-top: 45px;
}
/*home*/
.navbar-default{
	background-color: transparent;
}
.navbar-static-top{
	border-width: 0;
}
ul.navbar-nav{
	margin: 0 auto;
    float: none;
    text-align: center;
    max-width: 950px;
    margin-top: 20px;
}
.nav>li>a{
	padding: 15px 65px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	font-weight: bold;
}
/*Higher to Medium*/
@media (min-width: 992px) {
	.navbar-default .navbar-nav>li>a{
		font-size: 17px;
	}
}
/*Botón de hamburguesa*/
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
/*Less to Medium*/
@media (max-width: 768px) {
	.nav>li {
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	.nav>li:last-child{
		border-bottom: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: rgba(0, 0, 0, 0.7);
	}
	ul.navbar-nav{
		margin-top: 0;
	}
}
.primary-image{
	background-color: black;
	background-image: url("../img/home/home.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.trayectoria img{	
	margin-bottom: 35px;
}
.trayectoria p{
	font-size: 27px;
	font-weight: 200;
}
.portafolio-item{
	margin-bottom: 15px;
	margin-top: 15px;
}
.contacto{
	background-color: black;
	background-image: url("../img/home/contacto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;	
	color: #fff;
	margin-top: 90px;
}
.contacto h1{
	margin-top: 45px;
}
.contacto a, .contacto a:active{
	color: #fff;	
}
.contact-info{
	font-size: 24px;
	padding-top: 20px;
    margin-left: 20px;
}
.contact-info li{
	margin-bottom: 15px;
}
.contact-info i{
	width: 30px;
}
.social-wrapper{
	margin-top: 180px;
	margin-bottom: 50px;
	padding-top: 10px;
	max-width: 400px;
	border-top: #fff 2px solid;
}
.social-wrapper li{
	margin-right: 20px;
	font-size: 35px;
}
.social-wrapper li:last-child{
	margin-right: 0;
}
/*Dafta Menú*/
.navbar-dafta .navbar-nav>li>a, .navbar-dafta .navbar-nav>li>a:hover{
	color: #000;
}
.navbar-dafta .navbar-toggle .icon-bar {
    background-color: #888;
}
/*Higher to Medium*/
@media (min-width: 992px) {
	.navbar-dafta ul.navbar-nav {
		border-top: 1px solid #000;
	    border-bottom: 1px solid #000;
	}
}
/*Less to Medium*/
@media (max-width: 768px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: rgb(51, 51, 51);
	}
	.navbar-dafta .navbar-nav>li>a, .navbar-dafta .navbar-nav>li>a:hover{
		color: #fff;
	}
}
/*Portafolio*/
/* style for crop image */
.portafolio-photo {
  position: relative;
  width: auto;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 270px;
}
.portafolio-photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.portafolio-photo img.portrait {
  width: 100%;
  height: auto;
}	
/* end style for crop image */
.big-photo{
	height: 570px; /* portafolio-photo * 2 + 30 de margin (top + bottom)*/
}
.dafta-title{

}
.dafta-footer a{
	color: #333;
}
.dafta-footer .social-wrapper{
	border-color: #333;
}
.dafta-footer .social-wrapper{
	margin-top: 100px;
}